* {
	padding: 0;
	margin: 0;
	border: none;
}

body {
	max-width: 100%;
	overflow-x:hidden;
}

.clearfix:after {
	display: block;
	content: " ";
	clear:both;
}

nav {
	background-color: black;
	padding: .5vh;
	width: 100%;
	height: 5vh;
	display: block;
}

nav a {
	display: inline-block;
	text-decoration: none;
	border-radius: 3px;
	color: #ccc;
	font-size: 17px;
	padding: .5vw 2vw;
	background-color: black;
}

a:hover {
	color:#fff;
	background-color: #ff7401;
	transition: all .2s ease;
}

.container {
	white-space: nowrap;
}

.mainbar {
	float: right;
	width:75vw;
	background-color: rgba(60,60,60,1);
	height: 94vh;
}

.sidebar {
	clear: both;
	float:left;
	width:25vw;
	background-color: black;
	height: 94vh;
}

.sidebar a {
	color: grey;
	text-decoration: none;
	float:left;
	min-width: 38%;
	margin-left: 2vw;
	padding: .5vw;
	clear:both;
	border-radius: 3px;
}

.sidebar a:first-child {
	margin-left: 1vw;
}

.cmi {
	position: absolute;
	float: left;
	/*background-color: black;*/
}

.item {
	position: absolute;
	/*background-color: black;*/
}

.miniItem {
	position: absolute;
}


.miniItem:hover {

}


/*HOW TO CENTER??!?*/
.label {
	position: absolute;
	color: white;
	font-size: 1em;
}

/*NEED TO TRANSLATE THIS TO JS*/

ul {
	position:absolute;
	width:21vw;
	color: white;
	background-color: rgba(44,44,44,.98);
	height:14vh;
	padding: 5px;
	z-index: 50;
	border-radius: 4px;
	font-size: .8em;
	display: none;
}

.cmi ul {
	top:10%;
	left: 90%;
}

.miniItem ul, .item ul {
	top:50%;
	left:-20vw;
}

.productDevelopment ul {
	top:-50%;
	left:-20vw;
}

li {
	margin-left: 1.2vw;
}

/*.centerCircle:hover p {
	display: block;
}*/

p {
	display: none;
}

.textOpen {
	display: block;
}

.working {
	background-color: yellow;
}