* {
	padding: 0;
	margin: 0;
	border: none;
}

body {
	max-width: 100%;
	color: #ccc;
	font-size: 16px;
	text-decoration: none;
}

.clearfix:after {
	display: block;
	content: " ";
	clear:both;
}

nav {
	background-color: black;
	width: 100%;
	height: 40px;
	position: absolute;
}

nav a {
	display: inline-block;
	text-decoration: none;
	border-radius: 3px;
	color: #ccc;
	font-size: 1.1em;
	padding: 5px;
	margin: 5px 10px;
	background-color: black;
}

a:hover {
	color:#fff;
	background-color: #ff7401;
	transition: all .2s ease;
}

.container {
	box-sizing: border-box;
    padding-top:40px;
}

.sidebar {
	clear: both;
	float:left;
	width:25vw;
	background-color: black;
	height: 94vh;
}

.sidebar a {
	color: #ccc;
	text-decoration: none;
	float:left;
	min-width: 38%;
	margin:.3vw 0 .3vw 3vw;
	padding: .2vw;
	clear:both;
	border-radius: 3px;
}

.sidebar a:first-child {
	margin:1vw 0 .3vw 1.5vw;
}

.mainbar {
	float: right;
	width:75vw;
	background-color: rgba(60,60,60,.2);
	height: 94vh;
}

.cmi, .item, .miniItem{
	position: absolute;
	/*background-color: black;*/
}

/*HOW TO CENTER??!?*/
.item span, .cmi span, .miniItem span{
	width: 100%;
	top:-12%;
	position: absolute;
	color: black;
	font-size: .9em;
	float: none;
	text-align: center;
}

.cmi span {
	top:-6%;
}

 .it span, .sales span {
 	top: 2%;
 }

.marketing span {
	/*left:1.4vw;*/
	top:.3vw;
}

.miniItem span {
	left:-50%;
	top:70%;
	font-size: .7em;
	display: none;
}

.communityManagement span, .publicRelations span, .advert span {
	left:10%;
}

/*.miniItem:hover span {
	display: block;
}*/

ul {
	position:fixed;
	width:200px;
	color: black;
	background-color: rgba(255,255,255,.95);
	height:80px;
	padding: 5px;
	z-index: 50;
	border-radius: 4px;
	font-size: .8em;
	display: none;
}

li {
	margin-left: 1.4em;
	font-size: .9em;
}

.textOpen {
	display: block;
}

.overlay {
	position: fixed;
	width:72%;
	height: 88%;
	margin:1.5% 5% 10% 26.5%;
	background-color: rgba(44,44,44,.94);
	z-index: 5000;
	display: none;
}

.overlayEsc {
	background-color: red;
	height:4vh;
	width: 2vw;
	position: fixed;
	left:96.5vw;
}

.box {
	float: left;
	width:34vw;
	margin: 1vw;
	height: 35vh;
}

.box img {
	width:80%;
	height:80%;
	margin: 1vw;
}

.working {
	background-color: yellow;
}

@media only screen and (max-width: 900px) {
	body {
		font-size: 14px;
	}
}

@media only screen and (max-width: 750px) {
	body {
		font-size: 12px;
	}
}
@media only screen and (min-width: 1300px) {
	body {
		width: 1300px;
	}
}